<%-include("partials/header")  %>
<link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    
<%-include("partials/navbar")  %>


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Lista de Publicaciones</h1>
            <h2 class="text-center ">Nuestro planeta con tu ayuda sobrevive.</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <main id="lista-publicaciones" class="d-flex flex-column gap-2">
                
    <img src="https://img1.freepng.es/20230925/eja/transparent-green-earth-65124fff5f6bf2.3135683116956989433909.jpg" alt="img">
    
    
                
                
            </main>
        </div>
    </div>
    
</div>

<script src="/public/js/home-usuario.js"></script>

<%-include("partials/footer")  %>